.form p {
  margin-top: 10px;
}

.list-group-item {
  margin-bottom: -2px;
}

#languagesDemanded, #languagesOffered {
  height: 100%;
  max-height: 400px;
  overflow-y: scroll;
  min-height: 164px;
}

.avatar {
  object-fit: cover;
  object-position: center;
  height: 200px;
  width: 200px;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
}

.form {
  margin-bottom:20px;
}
