<div class="writer">
  <div class="container">
    <form>
      <div class="form-group">
        <textarea class="form-control" name="text" id="text" rows="1" [(ngModel)]="text"></textarea>
      </div>
      <button class="btn btn-default" (click)="newMessage()">Send</button>
    </form>
  </div>
</div>
<div class="chat" #chat>
  <div class="container">
    <div class="alert alert-danger" *ngIf="error">
      {{error}}
    </div>
    <div class="row list-group" *ngFor="let msg of messages">
      <div class="col-xs-12 flex" [ngClass]="{'right': msg.from._id == currentUser._id, 'text-right': msg.from._id == currentUser._id}">
        <div class="hidden-xs col-sm-2 flex">
          <div class="list-group-item">
            <a [routerLink]="['/profile', {id: msg.from._id}]">
              <img class="little-profile" [src]="BASE_URL + msg.from.imageUrl" />
            </a>
            <div>
              <h5><a [routerLink]="['/profile', {id: msg.from._id}]">{{msg.from.username}}</a></h5>
              <div class="wrappable">
                <small class="space-right" *ngFor="let lang of msg.from.languagesOffered">{{lang}}</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-10 flex" [ngClass]="{'text-right': msg.from._id == currentUser._id}">
          <div class="list-group-item">
            <h5 class="visible-xs"><a [routerLink]="['/profile', {id: msg.from._id}]">{{msg.from.username}}</a> <small class="space-right" *ngFor="let lang of msg.from.languagesOffered">{{lang}}</small></h5>
            <p>{{msg.text}}</p>
            <h5><small>{{msg.created | date:'medium'}}</small></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
