.list-group-item {
  margin-bottom: -2px;
}

.container-separated-items {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title {
  font-weight: 700;
}

#languagesDemanded, #languagesOffered {
  height: 100%;
  max-height: 400px;
  overflow-y: scroll;
  min-height: 164px;
  margin-bottom: 0px;
}

[hidden] {
  display:none !important;
}

.wrappable-content {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  white-space: nowrap;
}

.wrappable-content > * {
  padding: 5px;
}
