.navbar-nav > li > a:last-child {
  padding-right: 0;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.container-body {
  margin-top: 80px;
}

.label.badge-pill {
  border-radius: 1em;
  margin: 0 0.25em;
  padding: .2em .6em;
  background-color: #337ab7;
}
