<div class="alert alert-danger" *ngIf="error">
  {{error}}
</div>
<div *ngIf="currentUser" class="row">
  <div class="col-sm-12">
    <h3>
      Relations
    </h3>
  </div>
  <div class="col-sm-8">
    <div class="list-group">
      <div class="list-group-item title">
        <span>Contacts</span>
      </div>
      <div *ngIf="!chatService.relations || !chatService.relations.length" class="list-group-item">
        <span>No contacts found</span>
      </div>
      <div *ngFor="let relation of chatService.relations" class="list-group-item">
        <div class="row">
          <div class="col-xs-12 container-separated-items">
            <div class="inline-content">
              <div>
                <a [routerLink]="['/profile', {id: relation.contact._id}]">
                  <img class="little-profile" [src]="BASE_URL + relation.contact.imageUrl" [alt]="relation.contact.username" [title]="relation.contact.username" />
                </a>
              </div>
              <div>
                <div>
                  <h4><a [routerLink]="['/profile', {id: relation.contact._id}]">{{relation.contact.username}}</a> <small class="space-right" *ngFor="let lang of relation.contact.languagesOffered">{{lang}}</small></h4>
                </div>
                <div>
                  <small *ngIf="!relation.lastMessage">
                    No messages
                  </small>
                  <small *ngIf="relation.lastMessage">
                    {{relation.lastMessage | date:'medium'}}
                  </small>
                  <a [routerLink]="['/relations', relation.contact._id]">
                    <small *ngIf="relation.unchecked" class="label badge-pill">{{relation.unchecked}}</small>
                  </a>
                </div>
              </div>
            </div>
            <div>
              <a [routerLink]="['/relations', relation.contact._id]">view <small class="glyphicon glyphicon-search"></small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="list-group">
      <div class="list-group-item title">
        <span>Requests</span>
      </div>
      <div *ngIf="!currentUser.petitions || !currentUser.petitions.length" class="list-group-item">
        <span>No requests found</span>
      </div>
      <div *ngFor="let petition of currentUser.petitions" class="list-group-item container-separated-items">
        <h4><a [routerLink]="['/profile', {id: petition.contact._id}]">{{petition.contact.username}}</a> <small class="space-right" *ngFor="let lang of petition.contact.languagesOffered">{{lang}}</small></h4>
        <a href="javascript:;" (click)="accept(petition.contact._id)">accept <small class="glyphicon glyphicon-ok"></small></a>
      </div>
    </div>
  </div>
</div>
